# Code owners for the repository.
# Format: <file pattern> <owner>
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @rickcedwhat

